body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 250, 205);
}

nav{
    top: 0;
    position: fixed;
    height: 100%;
    margin: 0;
    padding-left: 10px;
    padding-right: 20px;
    background-color: rgb(250, 205, 205);
    box-shadow: 2px, 10px, black;
}

nav > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul > li{
    margin-bottom: 10px;
}

nav > ul > li > a{
    text-decoration: none;
    color: black;
    margin-top: 5px;
}

nav > ul > li > a:hover{
    background-color: rgb(255, 80, 80);
    text-decoration: underline;
}

main{
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

h1{
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}

input, textarea, select, option, legend {
    color: #555;
}

#email, #name, #phone, #subject, #message {
    margin-left: 30px;
}

fieldset > table > tr > td{
    padding-top: 20px;
    margin-top: 20px;
}

#info {
    margin-top: 30px;
    margin-bottom: 30px;
}

#file {
    margin-left: 1px;
    border: 0px;
}

#submit {
    margin-left: 99px;
    background-color: rgb(44, 212, 114);
    color: #fff;
    border: 0px;
    font-weight: bold;
    font-size: 16px;
}
input, textarea, select {
    padding: 8px;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 5px;
}

legend {
    background-color: #fff;
    font-weight: bold;
    padding: 10px;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 5px;
}

fieldset {
    border: 1px solid rgb(141, 141, 141);
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}